.header {
  background-color: #282832;
  padding: 20px 65px;
  height: 60px;
  position: relative;

  .backdrop {
    z-index: 1;
    top: 60px;
  }
}


.menuButton {
  margin-right: var(--spacing--30);
  padding: 0;
  width: max-content;
  height: max-content;
  font-size: 27px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;

  svg {
    width: 1em;
    height: 1em;
    display: flex;
    stroke: #D0D0DD;
  }
}

.search {
  margin-left: 20%;
}

.input {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 21px;
  color: var(--text-color);
  width: 440px;
}

.noscroll {
  overflow-x: hidden;
  overflow-y: hidden;
}
