@import "styles/media";

.root {
  width: 100% !important;
  & .MuiInput-underline:before  {
    border: none !important;
  }
}

.container {
  width: 900px;

  @include phone-m {
    width: 100% !important;
  }

}

.formControl {
  width: 100% !important;
  margin-bottom: 20px !important;
}

.linkBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

  input {
    width: 100%;
  }

  img {
    cursor: pointer;
  }

}

.label {
  font-family: Formular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 25px !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #9C9CAA;
}

.formBlock {
  margin-bottom: 50px !important;
}


.avatar {
  width: 145px !important;
  height: 145px !important;
  margin-right: 30px;
}

.chooseAvatar {
  margin-bottom: 40px;
  display: flex;
  align-items: center;

  .name {
    font-size: 36px !important;
  }

  @include phone-m {
    display: block !important;
  }

}

.selectAvatar {
  position: relative;
  cursor: pointer;
}

.photo {
  position: absolute;
  left: 50px;
  top: 50px;
  cursor: pointer;
}



.nameField {
  display: flex;
  > div {
    width: 100%;
  }
  > div:first-child {
    margin-right: 20px;
    @include phone-m {
      margin-right: 0;
    }
  }

  @include phone-m {
    flex-wrap: wrap;
  }
}

.text {
  color: #D0D0DD !important;
  font-size: 14px !important;
  font-family: Formular Bold !important;
}

.btns {
  display: flex;
  justify-content: right;
  align-items: center;

  button {
    font-family: Formular !important;
  }

  button:last-child {
    margin-left: 10px;
  }
}

.input {
  border: none !important;
}

.addMore {
  color: #04C800;
  font-family: Formular !important;
  cursor: pointer;
  margin-top: 10px;
}

.inputLink {
   & input {
     background: none;
     border: none;
   }

  input[value="https"] { color: #7E7E8B !important; }

  input[value] {
    color: #D0D0DD;
  }

}

.ul {
  &:focus {
    background: #000 !important;
  }
}
