.block {
  width: 100%;
  max-width: 950px;
  margin-bottom: 40px;
  background-color: transparent;
  padding: 30px;
  border: 1px solid #3A3A4B;
  box-sizing: border-box;
  border-radius: 4px;

  h4 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: var(--text-dark-color);
    margin: 0 0 5px;
  }
}
