.checkedTitle {
  padding-left: 10px;
  font-size: 14px;
  font-family: Formular !important;
}

.uncheckedTitle {
  padding-right: 10px;
  font-size: 14px;
  font-family: Formular !important;

}

.checked {
  color: #d0d0dd;
}

.unchecked {
  color: var(--text-dark-color);
  cursor: pointer;
}
