:root {
  //COLORS
  --background-color: #191921;
  --text-color: #d0d0dd;
  --text-color-dark: #9c9caa;
  --primary-color: #282832;
  --secondary-color: #04c800;
  --grey-light-color: #3e3f4a;

  //SPACING
  --spacing--10: 10px;
  --spacing--20: 20px;
  --spacing--30: 30px;
  --spacing--40: 40px;
  --spacing--50: 50px;

  --font--family--base: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
